In [1]:
from matplotlib import pyplot as plt
import pandas as pd

In [21]:
task2=pd.read_csv(r"C:\Users\abdul\Documents\PythonDataQuest\Data Quest Task2.csv", encoding="latin-1")
task2.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),-1947.0,-2013.0,(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),-1916.0,-2007.0,(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),-1870.0,-1943.0,(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),-1861.0,-1944.0,(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,EugÃ¨ne Atget,(French),-1857.0,-1927.0,(Male),1903,Photography

In [35]:
task2["Gender"]=task2["Gender"].str.replace(")","")
task2["Gender"]=task2["Gender"].str.replace("(","")
task2['Nationality']=task2['Nationality'].str.replace(")",(""))
task2['Nationality']=task2['Nationality'].str.replace("(","")
task2["BeginDate"]=task2["BeginDate"].replace("-","")
task2.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,-1947.0,-2013.0,Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,-1916.0,-2007.0,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,-1870.0,-1943.0,Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,-1861.0,-1944.0,Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,EugÃ¨ne Atget,French,-1857.0,-1927.0,Male,1903,Photography

In [ ]:
task2["BeginDate"] = pd.to_numeric(task2["BeginDate"]).astype("Int64")
task2["EndDate"] = pd.to_numeric(task2["EndDate"]).astype("Int64")

task2["actual_age"] = task2["EndDate"] - task2["BeginDate"]
task2["actual_age"] = task2["actual_age"].astype(str).replace(r"-","")  
task2["Date"] = task2["Date"].astype(str).str.replace(r"-", "", regex=True)
task2.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department,actual_age
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,-1947,-2013,Female,1986,Prints & Illustrated Books,-66
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,-1916,-2007,Male,1978,Prints & Illustrated Books,-91
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,-1870,-1943,Male,18891911,Prints & Illustrated Books,-73
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,-1861,-1944,Male,19271940,Prints & Illustrated Books,-83
4,97 rue du Bac,EugÃ¨ne Atget,French,-1857,-1927,Male,1903,Photography,-70